html{
    scroll-behavior: smooth;
    background : url(images.jpg)no-repeat center center fixed;
    background-size: cover;
    font-family: 'DM Serif Display', serif;

}
body{
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    height: 800px;
    width: 1100;
    padding: 20px;
}

h1{
    font-size: 500%;
    text-align : center;
}
.navbar-nav{
    font-size: 100%;
}
.form-group{
    padding: 0.5rem;
}
.col-lg-6{
    text-align: relative;
}
.container-fluid{
    padding: 0rem;
    margin: 0rem;
    text-align: absolute;
    text-align: center;
}
.btn_def{
    margin-top: 20px;
    padding: 0.5%;
}
.btn:hover{
    background: lightseagreen;
    color: rgb(8, 130, 130);
    background-color: rgb(128, 255, 0);
}
.img{
    text-align: nowrap;
    display: inline-block;
    text-align: absolute;
    text-align: left;
    padding: 1%;
    margin-top: 20px;
}